NODE_ENV=development
PORT=5000

CLIENT_URL=http://localhost:5174

SUPABASE_URL=https://oqgilppvctvnrbhxsomt.supabase.co
SUPABASE_ANON_KEY=PUT_NEW_PUBLISHABLE_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=PUT_NEW_SECRET_KEY_HERE

PASSWORD_RESET_REDIRECT=http://localhost:5174/reset-password